<div >
  <div class="row-fluid">
      <div class='form-group'>
        <label for="email"> Email:  </label>
        <input id="email" class="form-control" type="email" name="email"  placeholder="email" required="required" />
      </div>
      <div id="message" class="alert alert-danger"></div>

      <input id="crear-submit" class="form-control btn btn-success" type="submit"  name="crear-submit" value="crear" required="true"/>
  </div>

</div>
