{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}

  <div class="row">
      <div class="well">
        Seleccione un archivo en formato csv para importar la información
        acerca de las revistas de indexación.
      </div>

      <a href="{{ path('revistas_descargar')}}">Descargar csv de ejemplo</a>
      <div class="col-md-3">
          {{form(form)}}
      </div>
  </div>
{% endblock %}
