{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}

  <div class="row">
         <div class="col-md-3">
           <form method="POST" action="{{path('revistas_importar')}}">
             <input type="file" name="csv">
             <button class="btn btn-success">Subir CSV</button>
           </form>
         </div>

  </div>

  <div class="js-css-import">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-progressbar-3.3.0.min.css')}}">
  </div><!--  end js-css-import-->
{% endblock %}
