{% extends "UIFIAdminBundle:Dashboard:index.html.twig" %}

{% block  main_content %}

<div class="table">

</div>

<div class="js-css">
  <script src="{{ asset('js/jstranslate.js') }}"></script>
  <script src="{{ asset('js/service.js') }}"></script>
  <script src="{{ asset('bundles/uifigruplacscraper/js/revista/listar.js') }}"></script>
</div>
{% endblock %}
