
  <div class="well">
  <p>  El GrupLAC de un grupo de investigación tiene un formato como el siguiente</p>
   http://scienti1.colciencias.gov.co:8080/gruplac/jsp/visualiza/visualizagr.jsp?nro=<b>0000000000XXXX </b>
  </div>
  <div class="alert alert-info">
    <p> El código corresponde al número con el formato resaltado arriba. </p>
  </div>
  <form>
    <div class="form-group">
      <input id="gruplac" type="number" class="form-control" placeholder="Ingrese el código GrupLAC del grupo de investigación"></input>
      <div id="fail" class="alert alert-danger"></div>
    </div>
      <button id="crear" class="btn btn-success">Crear GrupLAC</button>
  </form>

<div class="js-css-import">
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script src="{{ asset('bundles/uifigruplacscraper/js/gruplac/index.js') }}"></script>
</div>
